<h1>Stupid Coaching</h1>

<p>ask your coach anything</p>

<div>
  <form action="/answer" method="get">
    <input type="text" name="question"class="form-label">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
